.indexFlash{height:390px; overflow:hidden; position:relative;}
.indexFlash li{position:absolute; z-index:1; left:0px; top:0px; width:100%; display:none;}
.indexFlash a{display:block; height:448px; overflow:hidden;}
.indexFlash .btnDiv{height:25px; width:100%; overflow:hidden; background:url(../image/flashBg.png); position:absolute; z-index:1; top:365px; left:0; text-align:center;}
.indexFlash .btnDiv span{display:inline-block; background:url(../image/btn2.png) center no-repeat; width:20px; height:13px; overflow:hidden; cursor:pointer; position:relative; top:6px;}
.indexFlash .btnDiv .spanNow{background:url(../image/btn2Hover.png) center no-repeat;}
.indexFlash .leftBtn{display:block; background:url(../image/leftBtn.png) left top no-repeat; width:37px; height:37px; overflow:hidden; position:absolute; z-index:10; left:50%; top:190px; margin-left:-580px;}
.indexFlash .rightBtn{display:block; background:url(../image/rightBtn.png) left top no-repeat; width:37px; height:37px; overflow:hidden; position:absolute; z-index:10; right:50%; top:190px; margin-right:-580px;}

.indexLayer{position:absolute; z-index:20; top:300px; left:50%; margin-left:173px; width:323px; overflow:hidden;}
.indexLayer a{color:#FFF;}
.indexLayer .btn{width:323px; height:64px; overflow:hidden; position:relative;}
.indexLayer .btn ul{width:110%;}
.indexLayer .btn li{float:left; text-align:center; width:108px; overflow:hidden;}
.indexLayer .btn a{display:block; width:107px; height:63px; overflow:hidden; background:url(../image/indexLayerBg1.png); font-weight:bold; cursor:pointer;}
.indexLayer .btn div{padding:10px 0 5px 0;}
.indexLayer .list{height:157px; overflow:hidden; background:url(../image/indexLayerBg2.png);}
.indexLayer .list li{font-size:14px; height:24px; line-height:24px; overflow:hidden; position:relative; left:30px; top:22px;}
.indexLayer .list a:hover{text-decoration:underline;}

.indexTitle{width: 98%;float: left;padding: 0 5px;}
.indexTitle .in1{color: #FF3300; font-size: 16px; font-weight: bold;float: left;}
.indexTitle .in2{color: #ABABAB; font-size: 12px; float: right;width: 35px;background:url(../image/btn_more.png) right center no-repeat;}
.indexTitle .more{display:block; background:url(../image/more.gif) left top no-repeat; width:40px; height:14px; overflow:hidden; position:absolute; z-index:1; top:37px; right:0px;}

.title-bg-bottom{float: left;height: auto;width: 100%;}
.title-bg-bottom .border-l{width: 83px;height: 3px;float: left;display: inline-block;margin-top: 6px;background: #0092d1;}
.title-bg-bottom .border-r{width: 174px;height: 3px;float: right;display: inline-block;margin-top: 6px;background: #ececec;}
.title-bg-bottom .rw{width: 326px;}

.indexPart1{padding-right:35px;}
.indexPart1 .indexTitle{background:url(../image/indexPart1.png) left 56px no-repeat;}
.indexPart1 .content{line-height:18px; text-align:justify; padding-top:10px; height: 107px; text-indent:2em;}
.indexPart1 .moreDiv{height:25px; overflow:hidden; position:relative; top:-15px; text-align:right; line-height:18px;}
.indexPart1 .moreDiv a{ background:url(../image/limg14.png) right center no-repeat; display:inline-block; padding-right:20px;}

.indexPart2{ overflow:hidden;float: left;width: 100%;}
.indexPart2 .indexTitle{background:url(../image/indexPart2.png) left 56px no-repeat;}
.indexPart2 dl{height:133px; overflow:hidden; position:relative;}
.indexPart2 dt{position:absolute; z-index:1; left:0px; top:0px;}
.indexPart2 dd{padding:0 0 0 159px;}
.indexPart2 h2{}
.indexPart2 .content{padding:7px 0; text-align:justify; line-height:18px; text-indent:2em; position: relative;}
.indexPart2 .moreDiv a{ background:url(../image/limg14.png) right center no-repeat; display:inline-block; padding:2px 20px 2px 0; position: absolute; top: 104px; left: 340px;}
.indexPart2 ul.ul-list{float: left;width: 100%;margin-top: 10px;}
.indexPart2 ul.right-width{float: right;width: 61%;}
.ul-list li a{width: 210px;display: inline-block;height: 100%;}
.ul-list li span.list-type{float: left;width: 15px;height: 100%; background:url(../image/list_type.png) left center no-repeat;}
.ul-list li span.right-date{float: right;}
.indexPart2 li{height:28px; line-height:28px; overflow:hidden; border-bottom: 1px dashed #d2d2d2;}
.indexPart2 li:first-child.list-no-border{margin-left: 0px;}
.indexPart2 li:nth-child(5).list-no-border{margin-left: 0px;}
.indexPart2 li:nth-child(9).list-no-border{margin-left: 0px;}
.indexPart2 li:nth-child(13).list-no-border{margin-left: 0px;}
.indexPart2 li:nth-child(17).list-no-border{margin-left: 0px;}
.indexPart2 li:nth-child(21).list-no-border{margin-left: 0px;}
.indexPart2 li:nth-child(25).list-no-border{margin-left: 0px;}
.indexPart2 li:nth-child(29).list-no-border{margin-left: 0px;}
.indexPart2 li.list-no-border{border: none;width: 93px;height: 83px;float: left;margin: 8px 0 8px 12px;}
.list-no-border div.img-con{width: 95%; height: 83px; border: 1px solid #ddd;padding: 2px;border-radius: 2px;}
.list-no-border div.img-con img{width: 100%;height: 100%;}
.slide-container {float: left; width: 99%; height: 228px;  margin: 0 auto; position: relative; overflow: hidden; z-index: 1;}/*.slide-container ul{padding-left: 5px;}*/
.w411{position: relative;}.w411 b{width: 10px;height: 22px;background: url(../image/icons-arrow.png) no-repeat 0px;cursor: pointer;}
.w411 b.Div1_prev{position: absolute;top: 128px;left: 0;z-index: 999; background-position: 0px 5px;}.w411 b.Div1_next{position: absolute;top: 128px;right: 0;z-index: 999;background-position:-9px 5px;}
.slide-container li.list-no-border{border: none;width: 133px;height: 212px;float: left; margin: 8px 0 8px 4px;}
.f-title .desc-text{width: 95%;white-space: normal;height: 55px;overflow: hidden;margin: 5px 0;}
/*.indexPart2 li span{position:absolute; z-index:1; top:0px; right:0px; white-space:nowrap;}*/
.img-content{width: 39%;height: auto;float: left;padding: 15px 0 0 0;}
.img-content .h-img{width: 135px;height: 94px;border: 1px solid #dfdfdf;margin-bottom: 10px;}
.img-content .f-img{margin-top: 11px;}
.f-title{height: 20px;line-height: 20px;}
/*.f-title span{height: 100%;width: 5px;display: inline-block;float: left;}*/
.f-title p{padding-left: 17px;background:url(../image/indicator_right.png) left center no-repeat;margin-left: 13px;}

.indexPart3{height:163px; overflow:hidden; position:relative; float: left; margin-left: 35px; margin-top: 15px;}
.indexPart3 .title{height:22px; overflow:hidden;}
.indexPart3 .leftBtn{display:block; background:url(../image/leftBtn.gif) left top no-repeat; width:18px; height:18px; overflow:hidden; position:absolute; z-index:1; top:0px; right:23px;}
.indexPart3 .rightBtn{display:block; background:url(../image/rightBtn.gif) left top no-repeat; width:18px; height:18px; overflow:hidden; position:absolute; z-index:1; top:0px; right:0px;}
.indexPart3 .leftBtn:hover{background:url(../image/leftBtnHover.gif) left top no-repeat;}
.indexPart3 .rightBtn:hover{background:url(../image/rightBtnHover.gif) left top no-repeat;}
.indexPart3 .list{height:104px; width:405px; overflow:hidden; position:relative; border:#d8d8d8 solid 3px;}
.indexPart3 ul{width:2000%;}
.indexPart3 li{float:left; height:104px; width:405px; overflow:hidden; border-bottom: 1px dashed #d6d6d6;}
.indexPart3 .imgDiv{position:absolute; z-index:1; left:0px; top:0px; height:104px; overflow:hidden; border-right:#d8d8d8 solid 1px;}
.indexPart3 .content{padding:15px 10px 0 126px; text-align:justify; line-height:18px;}
.indexPart3 .content b{color:#005196;}
.indexPart3 .more{ background:url(../image/limg14.png) right center no-repeat; display:inline-block; padding:2px 20px 2px 0; position:absolute; z-index:1; right:10px; bottom:10px;}
.indexPart3 .in1{color: #FF3300; font-size: 13px; font-weight: bold;}
.indexPart3 .in2{color: #ABABAB; font-size: 12px;}
.in2 a{color: #8a8a8a;}
.in2 a:hover{color: #8a8a8a;}

.indexPart4{background:url(../image/indexPart04.gif) left top no-repeat; width:291px; height:274px; overflow:hidden; position:relative; margin-top:39px;}
.indexPart4 li{position:absolute; z-index:1; left:0px; top:0px; width:282px; overflow:hidden; display:none;}
.indexPart4 .imgDiv{height:195px; overflow:hidden;}
.indexPart4 .content{line-height:22px; padding:0 10px;}
.indexPart4 .btnDiv{position:absolute; z-index:10; right:18px; bottom:12px;}
.indexPart4 .btnDiv span{display:block; float:left; cursor:pointer; width:8px; height:8px; overflow:hidden; background:#b1b1b1; margin-left:5px;}
.indexPart4 .btnDiv .spanNow{background:#0092d1;}

.indexPart5{width: 278px; overflow:hidden; position:relative; margin-left: 35px; float: left;}
/*.indexPart5 .title{padding-top:25px; height:25px; overflow:hidden;}*/
.indexPart5 .more{display:block; background:url(../image/more.gif) left top no-repeat; width:40px; height:14px; overflow:hidden; position:absolute; z-index:1; top:25px; right:0px;}
.indexPart5 li{height:20px; line-height:20px; overflow:hidden; position:relative; padding-left:12px; background:url(../image/ico1.gif) left center no-repeat;}
.indexPart5 .in1{color: #FF3300; font-size: 13px; font-weight: bold;}
.indexPart5 .in2{color: #ABABAB; font-size: 12px; }
.indexPart5 ul{margin-top: 10px;}


.banner{ width:100%; height: 197px; margin:0 auto;}
.banner a{background-size: 100% 100% !important;}
.banner img{width:100%; float: left;};
.sp_list{ width:100%; overflow:hidden; margin:0 auto; background:url(../image/nybg.jpg) repeat-x; margin-top:1px;}
.sp_list .newsTitle{color:#fff;}
.splb{ width:1000px; overflow:hidden; margin:0 auto;}
.splb_left{ width:241px; float:left; margin-top:30px;}
.splb_left p{box-shadow: 0 3px 15px rgba(0, 0, 0, .9); margin-top: 15px; float: left;}
.er_nav{ width:241px; box-shadow: 0 3px 26px rgba(0, 0, 0, .9);}
.er_nav h2{ width:242px; height:88px; background:#004f9c; font-size:18px; font-weight:normal; color:#fff; line-height:88px;}
.er_nav h2 img{ display:block; float:left; margin:28px 22px 0 48px;}
/*.er_nav ul{ width:241px; padding:20px 0 40px 0; background:#dfdfdf;}
.er_nav ul li{ width:237px; background:#dfdfdf; border-bottom:1px dashed #b8b8b8; position: relative;}
.er_nav ul li a{ display:block; width:241px; text-align:center; line-height:31px; background:url(../image/a.jpg) no-repeat 46px;}
.er_nav ul li a:hover{ background:url(../image/ahover.jpg) no-repeat 46px #3a93e9; color:#fff;}
.er_nav .hover{background:url(../image/ahover.jpg) no-repeat 46px #3a93e9; color:#fff;}
.er_nav ul li a.hot{ background:url(../image/ahover.jpg) no-repeat 46px #3a93e9; color:#fff;}*/
/*.er_nav .navv{display: none; width: 170px; padding:0px; position: absolute; top: 0px; left: 242px; z-index: 999; filter:alpha(opacity=50);-moz-opacity:0.5;-khtml-opacity: 0.5; opacity: 1.5; box-shadow: 0 2px 10px rgba(0, 0, 0, .9);}*/
/*.er_nav .navv li a{ display:block; width: auto; text-align:center; line-height:31px; background:none;color:#272822;}*/
/*.er_nav .navv li a:hover{ background:url(../image/ahover.jpg) no-repeat 10px #3a93e9; color:#fff;}
.er_nav .navv li{ width:auto; border-bottom:1px dashed #b8b8b8;*/ /*filter:alpha(opacity=50);-moz-opacity:0.5;-khtml-opacity: 0.5;*/}

.gg{ width:241px; overflow:hidden; float:left; margin-top:11px; box-shadow: 0 3px 26px rgba(0, 0, 0, .9);}
.gg h2{ width:241px; height:32px; background:url(../image/bg.jpg) repeat-x;}
.gg h2 span{ margin-left:11px; display:block; float:left; line-height:32px; color:#fff; font-weight:normal;}
.gg h2 img{ margin-left:10px; margin-top:7px;}
.gg h2 a{ float:right; margin-right:10px; color:#fff; font-size:14px; line-height:32px;}
.gg ul{ width:241px; background:#f0f0f0; overflow:hidden; padding:20px 0;}
.gg ul li{ width:233px; margin-left:4px; padding:3px 0;}
.gg ul li a{ color:#5b5b5b; line-height:24px; display:block; width:233px;}
.gg ul li a b{font-size:15px;}
.gg ul li a:hover{ color:#f00; display:block; text-decoration:underline;}

.hsp{ width:241px; overflow:hidden; float:left; margin-top:11px; /*margin-bottom:20px;*/ box-shadow: 0 3px 15px rgba(0, 0, 0, .9); }
.hsp img{width: 241px; height: 166px;}
.hsp .film_thumb{width: 242px; height: 210px; background:url(../image/sp01.jpg) no-repeat; float: left;}
.hsp .film_thumb1{width: 242px; height: 210px;}
.hsp h3{ color:#004f9c; line-height:32px; }


.splb_right{ width:725px; float:right; margin-top:30px;}
.splb_right .spyy{float: right; width: 240px; height: 180px; margin-left: 10px;}
.splb_right h2{ width:725px; height:50px; border-bottom:2px solid #ededed;}
.splb_right p{font-size:15px; color:#333; line-height:28px; margin-bottom: 29px;}
.splb_right div{font-size:14px; color:#333; line-height:28px; margin-bottom: 29px;}
.sptd{ display:block; float:left; background:url(../image/lbg01.jpg) bottom no-repeat; height:52px; width:181px;}
.splb_right img{width: 100%;}
.sptd b{ display:block; margin-top:15px; padding-left: 24px; margin-left:40px; font-size:14px; font-weight:normal;}
.sptd b img{ margin-right:5px; display:block; float:left;}
.dq{ float:right; font-size:12px; font-weight:normal; color:#888; margin-top:10px; display:block; line-height:50px;  position:relative;}
.dq .splbg{background:url(../image/home.jpg) bottom no-repeat; position: absolute; top:8px; left: -28px; float: left; width: 25px; height: 25px;}
.dq a{ color:#888;}
.dq a:hover{ color:#004f9c;}
.dq img{ margin-right:5px; margin-top:12px; display:block; float:left;}

.splb_right ul{ width:584px; overflow:hidden; margin:0 auto;}
.splb_right ul li{ float:left; margin-top:30px; margin-left:50px;}
.splb_right .film{ width: 242px; background:url(../image/sp01.jpg) no-repeat;}
.splb_right .film_thumb{width: 240px; height: 166px;}
.splb_right .film_con{margin: 30px 0 0 0px;}
.splb_right .film_ul{ width:584px; margin:0 auto;}
.splb_right .film_ascend{ width:525px; margin: 0 auto; padding-top: 25px;}
.splb_right .instructions{font-size:15px; color:#666; line-height:28px; margin-bottom: 29px; float: left;}

.li{ width:723px; height:26px; background:#f9f9f9; border:1px solid #ccc; margin-top:50px; text-align:center; margin-bottom:30px;}
.li img{ margin-top:15px;}

.spxx{ text-align:center; width:725px; overflow:hidden;}
.spxx p{ line-height:30px; font-size:22px; font-weight:bold;}
.spxx span{ width:725px; height:32px; border-bottom:1px dashed #ccc; display:block; margin-top:20px; position: relative;}
.spxx span b{ float:left; font-weight:normal; line-height:32px; color:#666;}
.spxx span img{ float:right;}
.news .spxx p{ line-height:30px; font-size:22px; font-weight: bold;margin-top: 10px;}
/*.news img{width: 100%;}*/
.input .input-text {border: 1px solid #A7A6AA;line-height: 18px;height: 18px;margin: 10px 5px 0 0;padding: 2px 0 2px 5px;background: white url(../Images/input.png) repeat-x;font-size: 12px;}
.input .select{margin-top: 10px;}

.input .button {
	margin-left: 15px;
	padding: 6px 8px;
	cursor: pointer;
	display: inline-block;
	text-align: center;
	line-height: 1;
	letter-spacing: 2px;
	width: auto;
	overflow: visible;
	color: #333;
	border: solid 1px #999;
	border-radius: 5px;
	text-shadow: 0px 1px 1px rgba(255, 255, 255, 1);
	box-shadow: 0 1px 0 rgba(255, 255, 255, .7), 0 -1px 0 rgba(0, 0, 0, .09);
}

.wj{ width:725px; overflow:hidden; border-top:1px dashed #ccc; margin-top:50px; padding-top:20px; margin-bottom:15px;}
.ty{
	width: 36px;
	margin: 0 auto;
	padding: 0px 6px;
	cursor: pointer;
	letter-spacing: 2px;

	overflow: visible;
	color: #333;
	border: solid 1px #999;
	border-radius: 5px;
}
.sx{ float:left;}
.sx a{ line-height:32px;}
.fh{ float:right;}
.fh a{ display:block; width:104px; height:45px; background:#004f9c; color:#fff; text-align:center; line-height:45px;}

.leader{ width:725px; float:right; margin-top:30px;}
.leader .proimg{height: 168px; width: 230px; float: left;}
.leader .prolist{height: 168px; width: 465px; float: left; margin-left: 15px; line-height: 25px;}
.leader .ldtitle{height: 168px;}
.leader .proyy{ width:227px; height: 165px; float: left;}
.leader h2{ width:725px; height:50px; border-bottom:2px solid #ededed;}
.leader ul{ width:725px; overflow:hidden; margin-top: 25px;}
.leader ul li p{ line-height:32px;}

.guidance{ width:725px; float:right; margin-top:30px;}
.guidance .proimg{ width: 200px; float: left; margin-left: 30px;margin-top: 15px;}
.guidance .prolist{height: 168px; width: 465px; float: left; margin-left: 15px; line-height: 25px;}
.guidance .ldtitle{height: 168px;}
.guidance .proyy{ width:100%; height: 140px;}
.guidance h2{ width:725px; height:50px; border-bottom:2px solid #ededed;}
.guidance ul{ overflow:hidden; margin-top: 15px; float: left;}
.guidance ul li p{ line-height:18px;margin-top: 5px;}

.download_right{ width:725px; float:right; margin-top:30px;}

.download_right .down_info img{float: right; margin-right: 15px;}
.download_right .down_info ul{float: left;}
.download_right .spyy{float: right; width: 240px; height: 180px; margin-left: 10px;}
.download_right h2{ width:725px; height:50px; border-bottom:2px solid #ededed;}
.download_right ul{ width:200px; overflow:hidden;}
.download_right ul li{ margin-top:30px; margin-left:15px; width: 200px;}

.pro{ width:725px; float:right; margin-top:30px;}

.pro h2{ width:725px; height:50px; border-bottom:2px solid #ededed;}
.pro ul{ width:725px; overflow:hidden;}
.pro ul li{float: left; width:225px; margin-left:12px; margin-top:20px; text-align:center;}
.pro ul li p{ line-height:32px;}


.download{ width:725px; float:right; margin-top:30px;}
.download img{ width:227px; height: 165px;}
.download .dtitle{font-size: 18px; font-weight: bold; text-align: center;}
.download h2{ width:725px; height:50px; border-bottom:2px solid #ededed;}
.download ul{ width:725px; overflow:hidden;}
.download ul li{float: left; width:225px; margin-left:12px; margin-top:20px;}
.download ul li p{ line-height:30px;}

.news{ width:725px; float:right; margin-top:30px;}
.news h2{ width:725px; height:50px; border-bottom:2px solid #ededed;}
.news ul{ width:725px; overflow:hidden;}
.news ul li{ width:95%; height:42px; background:url(../image/wb.jpg) no-repeat left center; line-height:42px;padding-left: 20px; float:left; text-align:right;}
.news ul li a{ color:#707070; text-decoration:none;/*line-height:42px; display:block; float:left; width:715px;*/ float:left;}
.news ul li a:hover{text-decoration:none}
.news ul li a span{/* float:right;*/}
.news ul li span{/*float:right;*/}

.news ul li img{ margin-right:5px; float:left; width:10px; height:11px; margin-top:15px;}
.news ul li a:hover{ color:#f00; text-decoration:none;}
.news ul li a:hover span{ text-decoration:none;}
.news p{ font-size:15px; color:#333; line-height:28px; margin-bottom: 5px;}
.news div{font-size: 15px; color:#666; line-height:28px; margin-bottom: 5px;}

.date{ width:86%; float:right; margin-top:30px;}
.date h2{ width:725px; height:50px; border-bottom:2px solid #ededed;}
.date ul{ width:725px; overflow:hidden;}
.date ul li{ width:725px; height:42px;}
.date ul li a{ color:#707070; line-height:42px; display:block; float:left; width:715px;}
.date ul li a span{ float:right;}

.date ul li img{ margin-right:5px; float:left; width:10px; height:11px; margin-top:15px;}
.date ul li a:hover{ color:#f00; text-decoration:underline;}
.date ul li a:hover span{ text-decoration:underline;}
.date p{ text-indent:25px; font-size:15px; color:#333; line-height:28px; margin-bottom: 29px;}
.date div{font-size:15px; color:#333; line-height:28px; margin-bottom: 29px;}

.xwzh{width: 455px; float: left; margin: 29px 0 0 20px;}
.xwzhdiv{float: left; margin: 29px 0 0 15px; height: 369px; margin-bottom: 21px;}
.xwzhdiva{float: left; margin-left: 15px;}
.xwzhl{}

.zh1{margin-bottom: 20px;}
.zh1l{}
.zh1_left{ border:1px solid #F0F0F0;}
.zh1_left h3{background:url(../image/zhbg.jpg) repeat-x; height:32px; font-size:14px; font-weight:normal; color:#fff; padding-left:10px; line-height:32px;}
.zh1_left h3 a{font-weight: bold;color: #fff;}
.zhlef{width:241px; float:left; border: 1px solid #F0F0F0; margin-top: 15px; box-shadow: 0 3px 15px rgba(0, 0, 0, .9); height: 125px; overflow: hidden;}
.zh1_left1 h3{background:url(../image/zhbg.jpg) repeat-x; height:32px; font-size:14px; font-weight:normal; color:#fff; padding-left:10px; line-height:32px;}
.zh1_left1 li{height: 25px; line-height: 25px; margin-left: 15px;}
.zh1_left h3 span{ float:right; margin-right:10px; }

.zh2{ overflow:hidden; margin-bottom:30px;}
.zh2l{overflow:hidden;}
.zh2_left{ overflow:hidden; float:left;}
.zh2_left h3{background:url(../image/zhbg.jpg) repeat-x; height:32px; font-size:14px; font-weight:normal; color:#fff; padding-left:10px; line-height:32px;}
.zh2_left h3 span{ float:right; margin-right:10px; }
/*.zh1_left dl{overflow:hidden;}*/
.zh1_left dl dt{ float:left; margin-right:6px;}
.zh1_left dl dd{ line-height:24px;}
.bt{font-size:14px; color:#0e419c;}
.zh1_left dl dd span{ font-size:12px;}
.xwzh ul{display: inline-block;width: 99%;}
.xwzh ul li{height:32px; line-height:32px; padding-left: 10px;}
.xwzh ul li b{ font-size:15px;}
.xwzh ul li a{ color:#707070;}
.xwzh ul li a:hover{ color:#f00;}
.xwzh ul li span{ float:right; padding-right: 5px;}
.divimg {width: 150px; float: left; margin-left: 10px;}
.content {width: 280px; float: left; margin-left: 10px; }
.content .ha {float: right;}
.xwzh .content li{height: auto;line-height: 25px;}
.zh1_right{ width: 269px; height: 173px; float:right; margin-bottom: 22px; background:#f0f0f0; }
.zh1_right h2{ height:32px; background:url(../image/bg.jpg) repeat-x; box-shadow: 0 3px 15px rgba(0, 0, 0, .9);position: relative;}
.zh1_right h3 a,.zh1_right h2 a{color: #fff;font-weight: bold;}
.zh1_right h2 span{ margin-left:11px; display:block; float:left; line-height:32px; color:#fff; font-weight:normal;}
.zh1_right h2 img{ margin-left:10px; margin-top:7px;position: absolute;top: 0px;left: 60px;}
.zh1_right h2 a{ float:right; margin-right:10px; color:#fff; font-size:14px; line-height:32px;}
.zh1_right ul{ background:#f0f0f0;}
.zh1_right ul li{height: 30px; line-height: 30px; padding-left: 10px;}
.zh1_right ul li a{ color:#5b5b5b; display:block;}
.zh1_right ul li a b{font-size:15px;}
.zh1_right ul li a:hover{ color:#f00; display:block; text-decoration:underline;}

.zh1_right h3{ background:url(../image/zhbg.jpg) repeat-x; height:32px;font-size:14px; font-weight:normal; color:#fff; padding-left:10px; line-height:32px;}
.zh1_right h3 span{ float:right; margin-right:10px;}

.zh1_r{ width:282px; overflow:hidden; float:right; background:#f0f0f0;}
.zh1_r h3{ width:399px; background:url(../image/zhbg.jpg) repeat-x; height:32px;font-size:14px; font-weight:normal; color:#fff; padding-left:10px; line-height:32px;}
.zh1_r h3 span{ float:right; margin-right:10px;}

.tpxw{ width:725px; overflow:hidden; float:right; margin-top:30px; }
.tpxw h3{ width:725px; background:url(../image/zhbg.jpg) repeat-x; height:32px;font-size:14px; font-weight:normal; color:#fff; padding-left:10px; line-height:32px;}
.tpxw h3 span{ float:right; margin-right:20px;}
.tpxw ul{ float:left; margin-left:5px;}
.tpxw ul li{ float:left; width:172px; height:125px; margin-right:8px; margin-top:2px;}

.bg{height:13px; background:url(../image/btbg.jpg) no-repeat;}

#pages { padding:10px 0 10px;text-align:center;font:12px 'å®‹ä½“'; float:left;}
#pages a { display:inline-block; padding:0px 8px; height:22px;font-size:12px;line-height:22px; background:#fff; border:1px solid #e3e3e3; text-align:center; color:#333}
#pages a.a1 {padding:0px 10px; height:22px; line-height:22px;margin-top:0px;}
#pages a:hover { background:#f1f1f1; color:#000; text-decoration:none; }
#pages span { display:inline-block;  padding:0px 8px; height:22px; line-height:22px; background:#0187C5; border:1px solid #e3e3e3; color:#fff; text-align:center; }
.page .noPage { display:inline-block;  padding:0px 12px; height:22px; line-height:22px;border:1px solid #e3e3e3; text-align:center; color:#a4a4a4; }

/*é™¢ç³»ä¸»é¡µæ ·å¼*/
.nr{ width:725px; overflow:hidden; font-size:12px; line-height:24px;}
.yx{ font-size:18px; font-weight:normal; color:#004f9c;  margin:20px 0; display:block;}
.zm{ margin:20px 0; margin-bottom: 15px; float: left;}
.ppi{ width:725px; overflow:hidden;}
.ppi li{ width:256px; text-align:center; font-size:12px; color:#666; margin-left:36px;}
.ppi li a{ width:256px; height:191px; background:#e9eaf4; float: left;}
.ppi li a img{ margin:5px;}

.ppic{ width:725px; overflow:hidden; margin-top:30px;}
.ppic li{ width:256px; text-align:center; font-size:12px; color:#666; margin-left:70px; float:left;}
.ppic li a{ width:267px; height:200px; background:#e9eaf4; float: left;}
.ppic li a img{ margin:5px;}

.splb_yb .dq{ float:right; font-size:12px; font-weight:normal; color:#FFF; margin-top:10px; display:block; line-height:42px;  position:relative; margin-right: 15px;}
/*.splb_yb p img{width: 100%;}*/
.splb_yb .dq a{ color:#FFF;}
.splb_yb .dq a:hover{ color:#004f9c;}
.splb_yb .dq img{ margin-right:5px; margin-top:12px; display:block; float:left;}
.splb_yb p{line-height: 25px; margin-top: 15px;font-size: 15px;}
.splb_yb .spxx p{font-size: 22px;font-weight: bold; line-height: 30px; margin-top: 10px;}

.splb_yb .proimg{height: 168px; width: 230px; float: left;}
.splb_yb .prolist{height: 168px; width: 465px; float: left; margin-left: 15px; line-height: 25px;}
.splb_yb .ldtitle{height: 168px;}
.splb_yb .proyy{ width:227px; height: 165px; float: left;}
.splb_yb h2{ width:725px; height:50px; /*border-bottom:2px solid #ededed;*/}
.splb_yb ul{ width:725px; overflow:hidden; margin-top: 25px;}
.splb_yb ul li p{ line-height:32px;font-size: 15px;}
/*åŠ¨æ¼«å·¥ç¨‹ç³»æ ·å¼*/
.llef{ width:452px; overflow:hidden; float:left;}
.dmxc{ width:149px; overflow:hidden; border:1px solid #dbdbdb; float:left;}
.dmxc li{ width:154px; height:23px; border-bottom:1px solid #dbdbdb; border-right:1px solid #dbdbdb; text-align:center; padding-top:10px; color:#666;}

.rrght{ width:226px; overflow:hidden; float:right; margin-top:20px;}
.ttop{ width:224px; overflow:hidden; border:1px solid #dbdbdb; margin-bottom: 28px;}
.ttop h4{ height:34px; border-bottom:1px solid #dbdbdb; padding:0 20px; margin-bottom:10px;}
.ttop h4 span{ font-size:18px; color:#004f9c; line-height:34px;}
.ttop h4 a{ color:#004f9c; float:right; line-height:34px; font-size:12px; font-weight:normal;}
.wez{ font-size:18px; color:#004f9c; display:block; margin:20px 0;}

.splb_yb{ width:725px; float:right; margin-top:30px;}
.splb_yb h2{ width:725px; height:50px; background:#29a7e1; box-shadow: 0 3px 15px rgba(0, 0, 0, .9);}
.sp{ display:block; float:left; height:50px; }
.sp b{ display:block; margin-left:8px; font-size:18px; font-weight:normal; color:#fff; line-height:50px;}
.sp b img{ margin-right:5px; display:block; float:left; margin-top:8px;}
.splb_yb .film_ascend{ width:525px; margin: 0 auto; padding-top: 25px;}

.ppi{ width:720px; overflow:hidden;}
.ppi li{ float:left; width:256px; height: 266px; margin-left:56px; text-align:center;}
.ppi li a{ display:block; width:253px; height:192px; background:#e9eaf4;}
.ppi li a img{ margin:5px; width: 242px;}
.ppi li p{ margin-top:5px;}

.jdxl{ width:720px; overflow:hidden;}
.jdxl li{ width:234px; float:left; margin-left:2px; margin-bottom: 30px;}
.jdxl li a{ width:234px; padding-top:95px;}
.jdxl li a p.jd{width:214px;height:35px;background:#0e83c0; color:#fff; padding-left:20px; line-height:35px;}
.lli{ width:720px; overflow:hidden;}
.lli li{ width:174px; float:left; background:url(../images/bg.png) no-repeat; font-size:14px; margin-left: 7px;}
.lli li img{ margin:3px;}
.bc{ width:720px; overflow:hidden; margin:0 auto;}
.bc li{ width:230px; height:129px; float:left; margin-bottom:3px; margin-left:2px;}
.bc li a{ color:#fff; background:#1960a6; display:block; width:230px; height:129px; text-align:center; line-height:24px;}
.bc li a:hover{ background:#26aba4;}

.bbc{ width:720px; overflow:hidden; margin:0 auto;}
.bbc li{ width:230px; height:129px; float:left; margin-bottom:3px; margin-left:2px;}
.bbc li a{ color:#fff; background:#b6b6b5; display:block; width:230px; height:129px; text-align:center; line-height:24px;}
.bbc li a:hover{ background:#09559f;}


/* common start */
.aui_outer { text-align:left; }
table.aui_border, table.aui_dialog { border:0; margin:0; border-collapse:collapse; width:auto; }
.aui_nw, .aui_n, .aui_ne, .aui_w, .aui_c, .aui_e, .aui_sw, .aui_s, .aui_se, .aui_header, .aui_tdIcon, .aui_main, .aui_footer { padding:0; }
.aui_header, .aui_buttons button { font: 12px/1.11 'Microsoft Yahei', Tahoma, Arial, Helvetica, STHeiti; _font-family:Tahoma,Arial,Helvetica,STHeiti; -o-font-family: Tahoma, Arial; }
.aui_title { overflow:hidden; text-overflow: ellipsis; }
.aui_state_noTitle .aui_title { display:none; }
.aui_close { display:block; position:absolute; text-decoration:none; outline:none; _cursor:pointer; }
.aui_close:hover { text-decoration:none; }
.aui_main { text-align:center; min-width:9em; min-width:0\9/*IE8 BUG*/; }
.aui_content { display:inline-block; *zoom:1; *display:inline; text-align:left; border:none 0; margin: 18px;}
.aui_content.aui_state_full { display:block; width:100%; margin:0; padding:0!important; height:100%; }
.aui_loading { width:96px; height:32px; text-align:left; text-indent:-999em; overflow:hidden; background:url(icons/loading.gif) no-repeat center center; }
.aui_icon { vertical-align: middle; }
.aui_icon div { width:360px; margin:10px 0 10px 10px; background-position: center center; background-repeat:no-repeat; }
.aui_buttons { padding:8px; text-align:right; white-space:nowrap; }
.aui_buttons button { margin-left:15px; padding: 6px 8px; cursor: pointer; display: inline-block; text-align: center; line-height: 1; *padding:4px 10px; *height:2em; letter-spacing:2px; font-family: Tahoma, Arial/9!important; width:auto; overflow:visible; *width:1; color: #333; border: solid 1px #999; border-radius: 5px; background: #DDD; filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFFFFF', endColorstr='#DDDDDD'); background: linear-gradient(top, #FFF, #DDD); background: -moz-linear-gradient(top, #FFF, #DDD); background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#FFF), to(#DDD)); text-shadow: 0px 1px 1px rgba(255, 255, 255, 1); box-shadow: 0 1px 0 rgba(255, 255, 255, .7),  0 -1px 0 rgba(0, 0, 0, .09); -moz-transition:-moz-box-shadow linear .2s; -webkit-transition: -webkit-box-shadow linear .2s; transition: box-shadow linear .2s; }
.aui_buttons button::-moz-focus-inner{ border:0; padding:0; margin:0; }
.aui_buttons button:focus { outline:none 0; border-color:#426DC9; box-shadow:0 0 8px rgba(66, 109, 201, .9); }
.aui_buttons button:hover { color:#000; border-color:#666; }
.aui_buttons button:active { border-color:#666; filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#DDDDDD', endColorstr='#FFFFFF'); background: linear-gradient(top, #DDD, #FFF); background: -moz-linear-gradient(top, #DDD, #FFF); background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#DDD), to(#FFF)); box-shadow:inset 0 1px 5px rgba(66, 109, 201, .9), inset 0 1px 1em rgba(0, 0, 0, .3); }
.aui_buttons button[disabled] { cursor:default; color:#666; background:#DDD; border: solid 1px #999; filter:alpha(opacity=50); opacity:.5; box-shadow:none; }
button.aui_state_highlight { color: #FFF; border: solid 1px #1c6a9e; background: #2288cc; filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#33bbee', endColorstr='#2288cc'); background: linear-gradient(top, #33bbee, #2288cc); background: -moz-linear-gradient(top, #33bbee, #2288cc); background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#33bbee), to(#2288cc)); text-shadow: -1px -1px 1px #1c6a9e; }
button.aui_state_highlight:hover { color:#FFF; border-color:#0F3A56; }
button.aui_state_highlight:active { border-color:#1c6a9e; filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#33bbee', endColorstr='#2288cc'); background: linear-gradient(top, #33bbee, #2288cc); background: -moz-linear-gradient(top, #33bbee, #2288cc); background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#33bbee), to(#2288cc)); }
/* common end */

.aui_inner { background:#FFF; }
.aui_outer, .aui_inner { border:1px solid rgba(0, 0, 0, .7); border:1px solid #333\9; }
.aui_border { box-shadow: inset 0 0 1px rgba(255, 255, 255, .9); }
.aui_nw, .aui_ne, .aui_sw, .aui_se { width:8px; height:8px; }
.aui_nw, .aui_n, .aui_ne, .aui_w, .aui_e, .aui_sw, .aui_s, .aui_se { background:rgba(0, 0, 0, .4); background:#000\9!important; filter:alpha(opacity=40); }
.aui_state_lock .aui_nw, .aui_state_lock .aui_n, .aui_state_lock .aui_ne, .aui_state_lock .aui_w, .aui_state_lock .aui_e, .aui_state_lock .aui_sw, .aui_state_lock .aui_s, .aui_state_lock .aui_se { background:rgba(0, 0, 0, .5); background:#000\9!important; filter:alpha(opacity=50); }
.aui_state_focus .aui_dialog { box-shadow: 0 0 3px rgba(0, 0, 0, 0.4); width: 708px;}
.aui_state_focus .aui_outer { box-shadow: 0 2px 3px rgba(0, 0, 0, 0.1); }
.aui_state_lock .aui_border { box-shadow:0 3px 26px rgba(0, 0, 0, .9); width: 726px;}
.aui_state_drag .aui_outer, .aui_outer:active { box-shadow:none; }
.aui_titleBar { position:relative; height:100%; }
.aui_title { height:28px; line-height:27px; padding:0 28px 0 10px; text-shadow:0 1px 0 rgba(255, 255, 255, .7); background-color:#edf5f8; font-weight:bold; color:#95a7ae; font-family: Tahoma, Arial/9!important; background-color:#bdc6cd; background: linear-gradient(top, #edf5f8, #bdc6cd); background: -moz-linear-gradient(top, #edf5f8, #bdc6cd); background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#edf5f8), to(#bdc6cd)); filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#edf5f8', endColorstr='#bdc6cd'); border-top:1px solid #edf5f8; border-bottom:1px solid #b6bec5; }
.aui_state_focus .aui_title { color:#4c5a5f; }
.aui_state_drag .aui_title { background: linear-gradient(top, #bdc6cd, #edf5f8); background: -moz-linear-gradient(top, #bdc6cd, #edf5f8); background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#bdc6cd), to(#edf5f8)); filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#bdc6cd', endColorstr='#edf5f8'); box-shadow:none; }
.aui_state_drag .aui_titleBar { box-shadow:none; }
.aui_close { padding:0; top:4px; right:4px; width:21px; height:21px; line-height:21px; font-size:18px; color:#68767b; text-align:center; font-family: Helvetica, STHeiti; _font-family: '\u9ed1\u4f53', 'Book Antiqua', Palatino; text-shadow:0 1px 0 rgba(255, 255, 255, .9); }
.aui_close:hover { color:#C72015; }
.aui_close:active { box-shadow: none; }
.aui_content { color:#666; }
.aui_state_focus .aui_content { color:#000; margin: 18px; text-indent: 23px; line-height: 25px;}
.aui_buttons { background-color:#F6F6F6; border-top:solid 1px #DADEE5; }
.aui_state_noTitle .aui_nw, .aui_state_noTitle .aui_ne, .aui_state_noTitle .aui_sw, .aui_state_noTitle .aui_se { width:3px; height:3px; }
.aui_state_noTitle .aui_inner { border:1px solid #666; background:#FFF; }
.aui_state_noTitle .aui_outer { border:none 0; box-shadow:none; }
.aui_state_noTitle .aui_nw, .aui_state_noTitle .aui_n, .aui_state_noTitle .aui_ne, .aui_state_noTitle .aui_w, .aui_state_noTitle .aui_e, .aui_state_noTitle .aui_sw, .aui_state_noTitle .aui_s, .aui_state_noTitle .aui_se { background:rgba(0, 0, 0, .05); background:#000\9!important; filter:alpha(opacity=5)!important; }
.aui_state_noTitle .aui_titleBar { bottom:0; _bottom:0; _margin-top:0; }
.aui_state_noTitle .aui_close { top:0; right:0; width:18px; height:18px; line-height:18px; text-align:center; text-indent:0; font-family: Helvetica, STHeiti; _font-family: '\u9ed1\u4f53', 'Book Antiqua', Palatino; font-size:18px; text-decoration:none; color:#214FA3; background:none; filter:!important; }
.aui_state_noTitle .aui_close:hover, .aui_state_noTitle .aui_close:active { text-decoration:none; color:#900; }
.aui_state_noTitle .aui_dialog { box-shadow: none;}
td, th {
	display: table-cell;
	vertical-align: inherit;
}